
.option{
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
    padding-left: 20%;
    z-index: 1;
    align-items:center
}

.application-button{
    border-bottom: 1px solid black;
    border-top: 0cap;
    border-left: 0cap;
    border-right: 0cap;
    background-color: transparent;
    color: rgb(104, 100, 100);
    z-index: inherit;
}
.website-button{
    border-bottom: 1px solid black;
    border-top: 0cap;
    border-left: 0cap;
    border-right: 0cap;
    background-color: transparent;
    color: rgb(104, 100, 100);
    z-index: inherit;

}

.application-selected{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.plus-button{
    background-color: rgb(177, 174, 222);
    margin-left: 5px;
    border-radius: 30px;
    border-color: transparent;
}
.plus-icon{
    width: 15px;
    
}

.website-selected{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.application-button:hover, .website-button:hover{
    color: black;
    opacity: 1;
}