.footer {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: rgb(48, 48, 152);
    position: fixed;
    z-index: 10;
  }

 footer .left{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 10px;
    flex:4;
    text-align: center;
    color: aliceblue;

  }

  .right{

  }

.contact-btn, .contact-github-btn{
    padding: 8px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

