.footer {
    height: 30px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  
    background-color: rgb(48, 48, 152);
  }

  .left{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 10px;
    flex:4;
    text-align: center;
    color: aliceblue;

  }

  .right{
    display: flex;
    align-items: center;
    flex:1;
    justify-content: right;
  }

  .mail-button, .message-button, .linkedin-button {
    height: 20px;
    background-color: transparent;
    border: none;
    border-color: transparent;
    cursor: pointer;
  }
  
  .mail-icon, .message-icon, .linkedin-icon{
    height: 20px;
    object-fit: contain;
    border-radius: 2px;
  }
  .mail-icon:hover, .message-icon:hover, .linkedin-icon:hover{
    height: 22px;
  }