p {
    margin-top: 0;
    margin-bottom: 0;
  }

  body {
    /* This style below will be inherited */
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 80px;
    background-color: #eee;
    margin-bottom: 50px;
  }

  label{
    font-size: 14px;
  }

  a {
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
}
main {
    position: relative;
    margin-bottom: 40px;
}
