.top-chart-web-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: normal;
    row-gap: 15%;
    margin-top: 3%;
    margin-bottom: 3%;

}
@media (max-width: 600px) {
    .top-chart-web-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (min-width: 601px) and (max-width: 850px) {
    .top-chart-web-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }


.top-chart-web-container .single-web{
    display: flex;
    flex-direction: row;
    z-index: 1;

}

.top-chart-web-container .web-numbering{
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
}
.top-chart-web-container .web-image{
    width: 20%;
}

.top-chart-web-container .web-icon{
    width: 100%;
    object-fit: contain;
}
.top-chart-web-container .web-name{
    flex: 1;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 14px;
}

.top-chart-web-container .web-name p {
    color: rgb(71 69 69);
    font-weight: bold;
    overflow-wrap: anywhere;
    padding-left: 8px;
}

.top-chart-web-container .star-icon{
  width: 15px;
  padding: 5px;
}

.top-chart-web-container .web-rating{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.web-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 7%;
    row-gap: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
}
@media (max-width: 600px) {
    .web-card-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (min-width: 601px) and (max-width: 850px) {
    .web-card-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }


.web-card-container .single-web-card{
    display: flex;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: .2s;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}
.web-card-container .single-web-card a {
    height: 45%;
}
.web-card-container .web-image{
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.web-card-container .web-icon{
    width: 80px;
    height: 80px;
    object-fit: contain;
    display: flex;
}
.web-card-container .web-name{
    flex: 1;
    padding: 5%;
    font-size: 14px;
}

.web-card-container .web-name p {
    color: rgb(71 69 69);
    font-weight: bold;
    overflow-wrap: anywhere;
}

.web-card-container .star-icon{
  width: 12px;
  padding: 5px;
}

.web-card-container .web-rating{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 10px;
}

.web-card-container .web-card-details .web-title p{
    color: rgb(48 48 152);
    font-size: 18px;
    font-weight: bold;
    overflow-wrap: anywhere;
    padding: 3px;
}

.web-description p{
    font-size: 10px;
    overflow-wrap: anywhere;
    padding: 3px;
}

.no-web-container{
    width: 40%;
    display: inline-block;
    margin-left: 30%;
    margin-top: 20%;
}
.no-web-text{
  border-color: rgb(71, 69, 69);
  border: solid 1px;
  border-radius: 10px;
  color: rgb(71, 69, 69);
  text-align: center;
  font-size: small;
  justify-content: center;

}