<!DOCTYPE html>
<html>
  <head>
    <title>DU derivatives</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/header.css">
    <link rel="stylesheet" href="static/css/sidebar.css">
    <link rel="stylesheet" href="static/css/footer.css">
    <link rel="stylesheet" href="static/css/general.css">
    <link rel="stylesheet" href="static/css/chooseoption.css">
    <link rel="stylesheet" href="static/css/app-preview.css">

  </head>


  <body>

    <!-- top navigation bar -->
    <header class="header">
      <!-- left section where logo and app name i -->
      <div class="left-section">
        <img class="logo" src="static/img/logo.png">
        <p class="title"> <b>CSEDU derivatives</b> </p>
      </div>
      <!-- middle section for search bar and search icon -->
      <div class="middle-section">
        <input class="search-bar" type="text" placeholder="Search">
        <button class="search-button">
          <img class="search-icon" src="static/img/extras/search-icon.png">
          <div class="tooltip">Search</div>
        </button>
       
      </div>

      <!-- for login and signup button -->
      <div class="right-section">
        <!--  if not logged in -->
            <button class="login-button">login</button>
            <button class = "signup-button">signup</button> 

        <!-- if logged in -->
            <!-- <img class="header-profile-icon" src = "images/extras/person.png">
          
        <!-- dropdown menu for clicking profile picture -->
          <!-- <div class="dropdown">
            <button class="dropdownbtn">
              <img class = "dropdown-icon" src = "images/extras/dropdowm.png">
        </button>
            <div class = "dropdown-content">
              <a href="#"><p> signed in as:
                <br> profile name
              </p></a>
              <a href="#">your profile</a>
              <a href="#">alter theme</a>
              <a href="#">logout</a>
            </div>
          </div>
            --> 
   
        </div>
    </header>

    <!-- if already logged in -->


    <main>
    
      <div class="option">  
        <!-- choosing between apps or websites -->
        <button class = "application-button">Applications</button>
        <button class="website-button">Websites </button>
       </div>


       <section class="application-section">
        <!-- if applications are chosen -->
        <nav class="sidebar">
            <div class="mobileorweb">
              <!-- choose between mobile or desktop version -->
            <div class = "mobile-button">
                <img class = "mobile-icon"src="static/img/extras/phone.png">
            </div>
            <div class = "pc-button">
                <img class = "pc-icon"src="static/img/extras/display.png">
            </div>
            </div>

            <!-- android or ios checkbox -->
            <label class="checkbox-container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
              android
            </label>
            
            <label class="checkbox-container">
              <input type="checkbox">
              <span class="checkmark"></span>ios
            </label>
           
            
          <!-- moentary -->
            <div class = "sidebar-label"><p>Monetary</p></div>
            <label class="checkbox-container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
              free
            </label>
            
            <label class="checkbox-container">
              <input type="checkbox">
              <span class="checkmark"></span>paid
            </label>
            <label class="checkbox-container">
              <input type="checkbox">
              <span class="checkmark"></span>in-app purchases
            </label>
          <!-- batch filtering -->
          <div class = "sidebar-label"><p>Batch</p></div>
          <div class = "batch">
            <input type="number"  min = "0" max = "28" class = "batch-filter">
            <p>-</p>
            <input type="number"  min = "0" max = "28" class = "batch-filter">
          </div>

        </nav>
        
        <!-- this div contains the whole body part of application section -->
        <div class = "app-preview">
          <!-- this contains the category -->
          <div class ="app-category-header">
            <p> Top chart</p>
          </div>

          <!-- grid box for app in a same category -->
          <div class = "app-container">
            
            <!-- properties of a single app (image name rating) -->
            <!-- first -->
            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "static/img/apps/renshuu.webp">
              </div>
              <div class = "app-name">
                <p> app name</p>
                <p>4.4</p>
              </div>
           </div>

           <!-- second -->
            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "static/img/apps/renshuu.webp">
              </div>
              <div class = "app-name">
                <p> app name</p>
                <p>4.4</p>
              </div>
            </div>
            <!-- third -->
            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "static/img/apps/renshuu.webp">
              </div>
              <div class = "app-name">
                <p> renshu-japanese learning lalala</p>
                <p>4.4</p>
              </div>
           </div>
           <!-- fourth -->
            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "static/img/apps/renshuu.webp">
              </div>
              <div class = "app-name">
                <p> app name</p>
                <p>4.4</p>
              </div>
            </div>
            <!-- fifth -->
            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "static/img/apps/renshuu.webp">
              </div>
              <div class = "app-name">
                <p> app name</p>
                <p>4.4</p>
              </div>
            </div>
          </div>
          

          <!-- apps in educational category -->
          <div class ="app-category-header">
            <p> Educational</p>
          </div>
          <div class = "app-container">
            
            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "static/img/apps/renshuu.webp">
              </div>
              <div class = "app-name">
                <p> app name</p>
                <p>4.4</p>
              </div>
           </div>

            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "static/img/apps/renshuu.webp">
              </div>
              <div class = "app-name">
                <p> app name</p>
                <p>4.4</p>
              </div>
            </div>

            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "static/img/apps/renshuu.webp">
              </div>
              <div class = "app-name">
                <p> renshu-japanese learning</p>
                <p>4.4</p>
              </div>
           </div>

            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "static/img/apps/renshuu.webp">
              </div>
              <div class = "app-name">
                <p> app name</p>
                <p>4.4</p>
              </div>
            </div>

            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "static/img/apps/renshuu.webp">
              </div>
              <div class = "app-name">
                <p> app name</p>
                <p>4.4</p>
              </div>
            </div>
          </div>

          <div class ="app-category-header">
            <p> Health</p>
          </div>
          <div class=" app-container">
            <p class = "no-apps-text">no apps yet</p>
          </div>
         </div>
        

       </section>
    </main>
    

    <!-- the bottom section -->
    <footer class="footer">
        <div class="left">
            <p>  © CSEDU Products 2023 <br> all rights reserved </p>
        </div>
        <div class="right">
            <button class = "mail-button"> 
                <img class = "mail-icon" src="static/img/extras/white email.png">
             </button>
            <button class="message-button">
                 <img class = "message-icon" src = "static/img/extras/white messenger.png" >
            </button>
            <button class="linkedin-button"> 
                <img  class = "linkedin-icon" src = "static/img/extras/white linkedin.png">
            </button>
    
        </div>
    </footer>
  
    </body>
  </html>