<!DOCTYPE html>
<html lang="en" >
<head>

<title>DU derivatives</title>

<link rel="stylesheet" href="static/css/login/login.css">

</head>

<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" method="POST">
              {% csrf_token %}
            <input type="text" placeholder="title" name="title"/>
            <input type="text" placeholder="email_address" name="email_address"/>

              <input type="number" placeholder="csedu_batch" name="csedu_batch"/>
              <input type="password" placeholder="password" name="password"/>
              <input type="re-password" placeholder="password" name="re-password"/>
            <button>create</button>
            <p class="message">Already registered? <a href="login">Sign In</a></p>
          </form>
        </div>
      </div>


</body>