{% extends 'main.html' %}

{% block content %}
    <main>
       <section class="application-add-section">
           <form class="project-add-form" method="POST" action="" enctype="multipart/form-data">
               {% csrf_token %}
        <div class='app-add-container'>
          <div class="app-fields-container">
              <div class="input-field"><p>Title </p> {{form.title}}</div>
              <div class="input-field"><p>Github link </p>{{form.github_link}}</div>
              <div class="input-field"><p>Demo video link </p>{{form.demo_link}}</div>

              <div class="input-field"><p>Hosted/apk link </p>{{form.deployed_link}}</div>
              <div class="choice-field"><p>Project type </p>{{form.type}}</div>
              <div class="upload-field"><p>Project logo </p>{{form.logo_img}}</div>
              {{form.about}}
              <div class="save-project-btn"> <button>Save</button></div>
          </div>
        </div>
           </form>

       </section>
    </main>

{% endblock %}