{% extends 'main.html' %}

{% block content %}
    <main>
    
      <div class="option">  
        <!-- choosing between apps or websites -->
        <button class = "application-button">Applications</button>
        <button class="website-button">Websites </button>
       </div>


       <section class="application-section">
           <!-- batch filtering -->
           <form class="filter-form" method="POST" action="" enctype="multipart/form-data">
              {% csrf_token %}
          <div class = "batch">
              <div class = "sidebar-label"><p>Batch filter: </p></div>
            <input type="number" name="min-batch" min = "0" max = "30" class = "batch-filter">
            <p>-</p>
            <input type="number" name="max-batch" min = "0" max = "30" class = "batch-filter">
              <button class="batch-filter-btn"></button>
          </div>
           </form>
        
        <!-- this div contains the whole body part of application section -->
        <div class = "app-preview">
          <!-- this contains the category -->
          <div class ="app-category-header">
            <p> Top chart</p>
          </div>

          <!-- grid box for app in a same category -->
          <div class = "top-chart-app-container">
            
<!--             properties of a single app (image name rating) -->
            {% for item in top_chart_apps %}
              <a href="{% url 'projectPage' item.app.id %}">
            <div class = "single-app">
              <div class = "app-numbering">
                  <p>{{item.id}}. </p>
              </div>
              <div class="app-image">
                <img class = "app-icon" src = "{{item.app.logo_img.url}}">
              </div>
              <div class = "app-name">
                <p>{{item.app.title}}</p>
                <div class = "app-rating">
                  <img class = "star-icon" src = "static/img/extras/star.png">
                  <p>{{item.app.rate}}</p>
                </div>
              </div>
           </div>
              </a>
           {% endfor %}
          </div>

          <!-- apps in educational category -->
          <div class ="app-category-header">
            <p>All apps</p>
          </div>
          <div class = "app-container">
            {% if general_apps is null %}
              <div class=" app-container">
                <div class = "no-apps-text"> <p>no apps yet</p> </div>
              </div>

            {% else %}
            {% for app in general_apps %}
              <a href="{% url 'projectPage' app.id %}">
            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "{{app.logo_img.url}}">
              </div>
              <div class = "app-name">
                <p>{{app.title}}</p>
                <div class = "app-rating">
                  <img class = "star-icon" src = "static/img/extras/star.png">
                  <p>{{app.rate}}</p>
                </div>
              </div>
           </div>
              </a>
           {% endfor %}
           {% endif %}

          </div>
        </div>
       </section>
    </main>
{% endblock %}