{% extends 'main.html' %}

{% block content %}
    <main>
    
      <div class="option">  
        <!-- choosing between apps or websites -->
        <form method='get'><button class = "application-button" type="submit" value="Applications" name="Application">Applications</button></form>
          <form method='get'><button class="website-button" type="submit" value="Websites" name="Website">Websites</button></form>
       </div>


       <section class="application-section">
           <!-- batch filtering -->
           <form class="filter-form" method="POST" action="" enctype="multipart/form-data">
              {% csrf_token %}
          <div class = "batch">
              <div class = "sidebar-label"><p>Batch filter: </p></div>
            <input type="number" name="min-batch" min = "0" max = "30" class = "batch-filter">
            <p>-</p>
            <input type="number" name="max-batch" min = "0" max = "30" class = "batch-filter">
              <button class="batch-filter-btn"></button>
          </div>
           </form>
        
        <!-- this div contains the whole body part of application section -->
        <div class = "app-preview">
          <!-- this contains the category -->
          <div class ="app-category-header">
            <p> Top chart</p>
          </div>

          <!-- grid box for app in a same category -->

          <div class = "top-chart-app-container">

<!--             properties of a single app (image name rating) -->
            {% for item in top_chart_apps %}
              <a href="{% url 'projectPage' item.app.id %}">
            <div class = "single-app">
              <div class = "app-numbering">
                  <p>{{item.id}}. </p>
              </div>
              <div class="app-image">
                <img class = "app-icon" src = "{{item.app.logo_img.url}}">
              </div>
              <div class = "app-name">
                <p>{{item.app.title}}</p>
                <div class = "app-rating">
                  <img class = "star-icon" src = "static/img/extras/star.png">
                  <p>{{item.app.rate}}</p>
                </div>
              </div>
           </div>
              </a>
           {% endfor %}
          </div>

          <!-- apps in educational category -->
          <div class ="app-category-header">
            <p>All apps</p>
          </div>

              {% if selected_text == 'Application' %}
            {% if project_count == 0 %}
              <div class="no-app-container">
                <div class = "no-app-text"> <p>no app yet</p> </div>
              </div>

            {% else %}
            <div class = "app-container">
            {% for app in general_apps %}
              <a href="{% url 'projectPage' app.id %}">
            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "{{app.logo_img.url}}">
              </div>
              <div class = "app-name">
                <p>{{app.title}}</p>
                <div class = "app-rating">
                  <img class = "star-icon" src = "static/img/extras/star.png">
                  <p>{{app.rate}}</p>
                </div>
              </div>
           </div>
              </a>
           {% endfor %}
            </div>
           {% endif %}

              {% else %}

            {% if project_count == 0 %}
              <div class="no-web-container">
                <div class = "no-web-text"> <p>no website yet</p> </div>
              </div>

            {% else %}
                <div class = "web-card-container">
            {% for app in general_apps %}

            <div class = "single-web-card">
              <a href="{% url 'projectPage' app.id %}">
                  <div class="web-image">
                <img class = "web-icon" src = "{{app.logo_img.url}}">
                  </div>
              </a>
              <div class = "web-card-details">
                  <div class="web-title"><p>{{app.title}}</p></div>
                  <div class = "web-rating">
                  <img class = "star-icon" src = "static/img/extras/star.png">
                  <p>{{app.rate}}</p>
                </div>
                  <div class="web-description"><p> small description of the website to get you intrigued dfddggdbgn</p></div>

              </div>
           </div>
                    {% endfor %}
          </div>
                {% endif %}
                {% endif %}
        </div>
    </section>
    </main>
{% endblock %}