{% extends 'main.html' %}

{% block content %}
    <main>
    
      <div class="option">  
        <!-- choosing between apps or websites -->
        <button class = "application-button">Applications</button>
        <button class="website-button">Websites </button>
       </div>


       <section class="application-section">
        <!-- if applications are chosen -->
      
        <nav class="sidebar">
            <div class="mobileorweb">
              <!-- choose between mobile or desktop version -->
            <div class = "mobile-button">
                <img class = "mobile-icon"src="static/img/extras/phone.png">
            </div>
            <div class = "pc-button">
                <img class = "pc-icon"src="static/img/extras/display.png">
            </div>
            </div>

            <!-- android or ios checkbox -->
            <label class="checkbox-container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
              android
            </label>
            
            <label class="checkbox-container">
              <input type="checkbox">
              <span class="checkmark"></span>ios
            </label>
           
            
          <!-- moentary -->
            <div class = "sidebar-label"><p>Monetary</p></div>
            <label class="checkbox-container">
              <input type="checkbox" checked="checked">
              <span class="checkmark"></span>
              free
            </label>
            
            <label class="checkbox-container">
              <input type="checkbox">
              <span class="checkmark"></span>paid
            </label>
            <label class="checkbox-container">
              <input type="checkbox">
              <span class="checkmark"></span>in-app purchases
            </label>
          <!-- batch filtering -->
          <div class = "sidebar-label"><p>Batch</p></div>
          <div class = "batch">
            <input type="number"  min = "0" max = "28" class = "batch-filter">
            <p>-</p>
            <input type="number"  min = "0" max = "28" class = "batch-filter">
          </div>

        </nav>
        
        <!-- this div contains the whole body part of application section -->
        <div class = "app-preview">
          <!-- this contains the category -->
          <div class ="app-category-header">
            <p> Top chart</p>
          </div>

          <!-- grid box for app in a same category -->
          <div class = "app-container">
            
            <!-- properties of a single app (image name rating) -->
            {% for app in top_chart_apps %}
            <div class = "single-app"> 
              <div class = "app-numbering">
                  <p>{{app.id}}. </p>
              </div>
              <div class="app-image">
                <img class = "app-icon" src = "static/img/apps/renshuu.webp">
              </div>
              <div class = "app-name">
                <p>{{app.name}}</p>
                <div class = "app-rating">
                  <img class = "star-icon" src = "static/img/extras/star.png">
                  <p>{{app.rating}}</p>
                </div>
              </div>
           </div>
           {% endfor %}
          </div>
          {% for category in categorical %}
          <!-- apps in educational category -->
          <div class ="app-category-header">
            <p>{{category.name}}</p>
          </div>
          <div class = "app-container">
            {% if category.apps is null %}
              <div class=" app-container">
                <div class = "no-apps-text"> <p>no apps yet</p> </div>
              </div>

            {% else %}
            {% for app in category.apps %}
            <div class = "single-app"> 
              <div class="app-image">
                <img class = "app-icon" src = "static/img/apps/renshuu.webp">
              </div>
              <div class = "app-name">
                <p>{{app.name}}</p>
                <div class = "app-rating">
                  <img class = "star-icon" src = "static/img/extras/star.png">
                  <p>{{app.rating}}</p>
                </div>
              </div>
           </div>
           {% endfor %}
           {% endif %}

          </div>
          {% endfor %}
        </div>
       </section>
    </main>
{% endblock %}