{% extends 'main.html' %}

{% block content %}
    
        <div class = "profile-view">
            <div class = "profile-image-section">
                <img class = "profile-icon" src = {{request.user.profile_picture.url}}>
            </div>
            <div class = "profile-info-section">
                <div class = "name-text">
                    <p> <strong>{{request.user.name}}</strong></p>
                </div>  
                <div class = "batch-name">
                    <p> CSEDU-batch: {{request.user.csedu_batch}}</p>
                </div>
                <a href="{% url 'userUpdate' %}"><button class = "edit-profile-btn"> edit profile</button></a>
            </div>
        </div>

        <main class = "profile-main">
        <div class = "my-poject-text">
            <p> My projects</p>
            <a href="{% url 'addProject' %}">
                <button class = "plus-button">
                    <img class = "plus-icon" src = "static/img/extras/plus-sign-white.png">Add Project
                </button>
            </a>
        </div>


        <div class="option">  
        <!-- choosing between apps or websites -->
        <form method='get'><button class = "application-button" type="submit" value="Applications" name="Application">Applications</button></form>
          <form method='get'><button class="website-button" type="submit" value="Websites" name="Website">Websites</button></form>
       </div>



        <div class = "profile-app-preview">

            {% if selected_text == 'Application' %}
            {% if project_count == 0 %}
              <div class="no-app-container">
                <div class = "no-app-text"> <p>no app found</p> </div>
              </div>

            {% else %}
            <div class = "app-container">
            {% for pair in apps %}
              <a href="{% url 'projectPage' pair.app.id %}">
            <div class = "single-app">
              <div class="app-image">
                <img class = "app-icon" src = "{{pair.app.logo_img.url}}">
              </div>
              <div class = "app-name">
                <p>{{pair.app.title}}</p>
                <div class = "app-rating">
                  <img class = "star-icon" src = "static/img/extras/star.png">
                  <p>{{pair.app.rate}}</p>
                </div>
              </div>
           </div>
              </a>
           {% endfor %}
            </div>
           {% endif %}

              {% else %}

            {% if project_count == 0 %}
              <div class="no-web-container">
                <div class = "no-web-text"> <p>no website found</p> </div>
              </div>

            {% else %}
                <div class = "web-card-container">
            {% for pair in apps %}

            <div class = "single-web-card">
              <a href="{% url 'projectPage' pair.app.id %}">
                  <div class="web-image">
                <img class = "web-icon" src = "{{pair.app.logo_img.url}}">
                  </div>
              </a>
              <div class = "web-card-details">
                  <div class="web-title"><p>{{pair.app.title}}</p></div>
                  <div class = "web-rating">
                  <img class = "star-icon" src = "static/img/extras/star.png">
                  <p>{{pair.app.rate}}</p>
                </div>
                  <div class="web-description"><p>{{pair.app.about|slice:"0:100"}}</p></div>

              </div>
           </div>
                    {% endfor %}


          </div>
            {% endif %}
           {% endif %}

        </div>
        </main>
{% endblock %}