{% extends 'main.html' %}

{% block content %}


<script>

    $(function() {
        $(".loader").fadeOut(1000, function() {
            $(".main").fadeIn(1000);        
        });
    });
    
      </script>
<!-- app image and name on top -->
<main>

<div class="loader"></div>

<div class = app-details-main>
    <div class = "app-details-top">
        <div class="app-details-top-image">
            <img id = "myImg" class = "app-details-icon" src = "{{project.logo_img.url}}">
          </div>
        <div class = "app-details-description">
            <div class = "app-details-name">
                <p>{{project.title}}</p>
            </div>
            <div class="project-tag-div">
            {% for tag in tags %}
            <div class = "app-details-category">
                {{tag}}
            </div>
            {% endfor %}
                </div>
            <div class = "star-rating">
                <img class = "starr-icon" src = "static/img/extras/star.png">
                <p>{{project.rate|floatformat:1 }}</p>
            </div>
        
            <div class = "git-download-image">
                <div class = "git">
                    <a href="{{project.github_link}}"><i class="fa-brands fa-github" style="color: #000000;"></i></a>
                </div>
                <div class = "down">
                    <a href="{{project.deployed_link}}"><i class="fa-solid fa-download" style="color: #000000;"></i></a>
                </div>
                <div class = "video">
                    <a href="{{project.demo_link}}"><i class="fas fa-video" style="color: #000000;"></i></a>
                </div>

            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class = "editbtn-date">
            {% if request.user != project.developer %}
            <div>
                <div class="rating">
                    {% for i in range %}
                        {% if i < user_rating %}
                          <i class="fa-sharp fa-solid fa-star" style="color: #303098;" data-project-id="{{ project.pk }}"></i>
                        {% else %}
                            <i class="far fa-star" data-project-id="{{ project.pk }}"></i>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if request.user == project.developer %}
            <a href="{% url 'projectUpdate' project.id %}"><button class = "edit-btn"> Edit</button></a>
            <a href="{% url 'deleteProject' project.id %}"><button class = "edit-btn">Delete</button></a>
            {% endif %}
            {% endif %}
            <p>Published: {{project.date_added|date:"F j, Y"}}</p>
        </div>
    </div>
    <div class="screenshots">
        <div class="slider">
          <div class="slides">
              {% for img in ssimages %}
            <div class="slide" id = "slideid">
              <img id = "i" class = "slider-image" onload = "getBGcolorfromImage()" src="{{img.photo.url}}" alt="Slide 1">
            </div>
           {% endfor %}
          </div>
          <button class="prev"><i class="fa-solid fa-arrow-left fa-xl"></i></button>
          <button class="next"><i class="fa-solid fa-arrow-right fa-xl"></i></button>
        </div>
    </div>

    <!-- The Modal for pop up image -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>
    
        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

    </div>

    <!-- about app and video section -->
    <div class = "about-video-developer-section">
       
        <div class = "about-app-developer">
        <div class = "about-app">
            <div class = "about-app-header">
                <p>About this project </p>
            </div>
            <div class = "about-app-text">
                <p> {{project.about}}</p>
                <span style="height: 10px; display:block;"></span>
                <p>Last updated: {{project.date_last_updated|date:"F j, Y"}}</p>
            </div>
        </div>
        <div class = "about-developer">
            <div class = "about-app-header">
                About developers
            </div>
            <div class = "developer-list">
                <ul>
                    <li><a href="{% url 'profile' project.developer.id %}">{{project.developer.name}} ({{project.developer.csedu_batch}})</a></li>
                    {% for user in project.collaborators.all %}
                    <li><a href="{% url 'profile' user.id %}">{{user.name}} ({{user.csedu_batch}})</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
       </div>
    </div>

    <div class = "review-section">
        <div class = review-top>
            <div class = "about-app-header">
                Reviews
            </div>
            <div class = "review-number">
                <p>({{review_count}})</p>
            </div>
        </div>
        {% if request.user != project.developer %}
        <form class="review-form" method="POST" action="">
          {% csrf_token %}
          <input type="text" placeholder="write a review" name="review"/>
            <button class="edit-btn">Post</button>
        </form>
        {% endif %}
        {% for review in reviews %}
        <div class = "review-description">
            <div class = "reviewer-image">
                <img class = "reviewer-icon" src = "{{review.reviewer_profile_picture.url}}">
            </div>

            <div class = "review-details">
                <div class = review-name-rating>
                    <div class = "reviewer-name">
                        <p>{{review.reviewer.name}}</p>
                    </div>

                </div>
                <div class = "review-text">
                    <p>
                        {{review.comment}}
                    </p>
                </div>

                <div class = "review-date">
                    <p>{{review.date|date:"F j, Y"}}</p>
                </div>
            </div>
        </div>
        {% if request.user == project.developer %}
        <form class="reply-form" method="POST" action="{% url 'addReply' projectPK=project.id reviewPK=review.id %}">
          {% csrf_token %}
          <input type="text" placeholder="provide a reply" name="reply"/>
            <button class="edit-btn">Done</button>
        </form>
        {% endif %}

        {% for reply in review.replies %}
        <!-- developers reply section -->
        <div class = "review-description">

            <div class = "reply-details">
                <div class = review-name-rating>
                    <div class = "reviewer-name">
                        <p> Developer</p>
                    </div>

                </div>
                <div class = "review-text">
                    <p>
                        {{reply.details}}
                    </p>
                </div>

                <div class = "review-date">
                    <p>{{reply.date_added|date:"F j, Y"}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

 <script>
const slides = document.querySelector(".slides");
const slide = document.querySelectorAll(".slide");
const prev = document.querySelector(".prev");
const next = document.querySelector(".next");

let slideIndex = 0;
const slidesPerPage = 3;

function showSlides() {
  slides.style.transform = `translateX(-${slideIndex * (100 / slidesPerPage)}%)`;
}

showSlides();

prev.addEventListener("click", () => {
  slideIndex--;
  if (slideIndex < 0) {
    slideIndex = slide.length - slidesPerPage;
  }
  showSlides();
});

next.addEventListener("click", () => {
  slideIndex++;
  if (slideIndex > slide.length - slidesPerPage) {
    slideIndex = 0;
  }
  showSlides();
});

window.addEventListener("resize", () => {
  const containerWidth = slides.offsetWidth;
  slide.forEach((s) => {
    s.style.width = `${containerWidth / slidesPerPage}px`;
  });
});
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
$(document).ready(function() {
  $('.rating i').on('click', function() {
    var rating = $(this).index() + 1;
    var project_id = $(this).data('project-id');
    var csrftoken = getCookie('csrftoken');
    $.ajax({
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader('X-CSRFToken', csrftoken);
        },
      url: 'update_rating',
      type: 'POST',
      data: {
        'project_id': project_id,
        'rating': rating,
        'csrfmiddlewaretoken': csrftoken
      },
      success: function(response) {
        // handle success
        setTimeout(function() {
          window.location.href = 'projectDetails-' + project_id;
        }, 100); // delay for 1 seconds
      },
      error: function(xhr, status, error) {
        // handle error
      }
    });
  });
});

</script>


<!-- script to get the dominant color of the images in slider -->
<script>

function getBGcolorfromImage(){
    var rgb = getAverageRGB(document.getElementById('i'));
    const slidercolor = document.querySelectorAll(".slide");

    slidercolor.forEach((s) => {
     s.style.backgroundColor = 'rgb('+rgb.r+','+rgb.g+','+rgb.b+')';
     });

}

    // document.querySelectorAll(".slide").style.backgroundColor = 'rgb('+rgb.r+','+rgb.g+','+rgb.b+')';
        // document.getElementById("slideid").style.backgroundColor = 'rgb('+rgb.r+','+rgb.g+','+rgb.b+')';

function getAverageRGB(imgEl) {
    
    var blockSize = 5, // only visit every 5 pixels
        defaultRGB = {r:0,g:0,b:0}, // for non-supporting envs
        canvas = document.createElement('canvas'),
        context = canvas.getContext && canvas.getContext('2d'),
        data, width, height,
        i = -4,
        length,
        rgb = {r:0,g:0,b:0},
        count = 0;
        
    if (!context) {
        return defaultRGB;
    }
    
    height = canvas.height = imgEl.naturalHeight || imgEl.offsetHeight || imgEl.height;
    width = canvas.width = imgEl.naturalWidth || imgEl.offsetWidth || imgEl.width;
    
    context.drawImage(imgEl, 0, 0);
    
    try {
        data = context.getImageData(0, 0, width, height);
    } catch(e) {
        /* security error, img on diff domain */alert('x');
        return defaultRGB;
    }
    
    length = data.data.length;
    
    while ( (i += blockSize * 4) < length ) {
        ++count;
        rgb.r += data.data[i];
        rgb.g += data.data[i+1];
        rgb.b += data.data[i+2];
    }
    
    // ~~ used to floor values
    rgb.r = ~~(rgb.r/(count));
    rgb.g = ~~(rgb.g/(count));
    rgb.b = ~~(rgb.b/(count));
    
    return rgb;
    
}
</script>



<!-- popup image js -->
<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    const sliderImage = document.querySelectorAll(".slider-image");
    var modalImg = document.getElementById("img01");
    
    sliderImage.forEach((s) => {
        var img = s;
        img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
    }

  });
    // var img = document.getElementById("myImg");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>

</main>
{% endblock %}