<!DOCTYPE html>
<html lang="en" >
<head>

<title>DU derivatives</title>

<link rel="stylesheet" href="static/css/login/login.css">

</head>

<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
               {% for field in form %}
          <div class="form__group form__group">
            {{field}}
          </div>
          {% endfor %}
              <div class="password-checker">
                  <span class="password-checker-sp">
                      <ul>
                          <li>Password must be of length 8</li>
                          <li>Password must have at least 1 uppercase</li>
                          <li>Password must have at least 1 special char</li>
                          <li>Password must have at least 1 number</li>
                      </ul>
                  </span>
                </div>
                {% if messages %}
                <div class="messages">{% for message in messages %}<p>{{ message }}</p>{% endfor %}</div>
                {% endif %}
            <button>create</button>
            <p class="message">Already registered? <a href="login">Sign In</a></p>
          </form>
        </div>
      </div>
   

</body>