<!DOCTYPE html>
<html lang="en" >
<head>

<title>DU derivatives</title>

<link rel="stylesheet" href="static/css/login/login.css">
<link rel="icon" type="image/x-png" href="static/img/logo.png">

</head>

<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
               {% for field in form %}
          <div class="form__group form__group">
            {{field}}
          </div>
          {% endfor %}
              <button>Update</button>
          </form>
        </div>
      </div>


</body>